@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
.container {
  width: 100%;
  margin: 0px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #313131;
}
.navbar ul {
  justify-content: center;
}
.logo {
  display: flex;

  /* margin-right: 474px; */
}
.logo__img {
  padding: 21px 27px;
}
.logo__text {
  padding: 22px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}
.navbar__list {
  display: flex;
  text-align: center;
  list-style: none;
  margin-top: 25px;
}
.navbar__item,
.navbar__item a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  padding-right: 17px;
  text-transform: uppercase;
}
.search {
  display: flex;
  padding: 26px;
  background-color: #000;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 369px;
  background-image: url(../image/header-background.jpg);
}
.header__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  margin-bottom: 44px;
  color: #ffffff;
  text-transform: uppercase;
}
.header__list {
  display: flex;
  list-style: none;
}
.header__item,
.header__item a {
  font-family: Open Sans;
  font-style: normal;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #ffffff;
}
.header__item {
  margin-right: 20px;
}
.subscribe {
  background-color: #89ca62;
  padding: 16px 19px 17px 19px;
}
.articles {
  background-color: #14b9d5;
  padding: 16px 29px 17px 30px;
}
.heading {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  color: #18b4cf;
  text-transform: uppercase;
  margin-top: 49px;
}
.popular-post {
  /* width: 1900px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  /* margin-bottom: 74px; */
}
.popular-post__list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.popular-post__item-2,
.popular-post__item-1,
.popular-post__item-3 {
  background-color: #fff;
  text-align: center;
  margin: 15px 15px;
}
.popular-post__item-2 {
  height: 441px;
}
.popular-post__item-1 {
  height: 320px;
}
.post-heading {
  font-family: Open Sans;
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.heading {
  margin-bottom: 52px;
}
.popular-post__item-3 {
  height: 355px;
}
.clients {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  align-items: center;
  width: 100%;
  height: 590px;
  background-image: url(../image/Layer-4-1.jpg);
}
.clients__heading {
  margin-top: 106px;
  font-family: Open Sans;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.clients__line {
  margin-top: 87px;
  width: 60px;
  height: 3px;
  background-color: #18b4cf;
  border: none;
}
.clients__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 207px 135px 232px 141px;
  grid-gap: 58px;
  margin-top: 107px;
  align-items: center;
}
.clients__item:first-child {
  margin-top: 10px;
}
.top-rated {
  width: 100%;
}
.top-rated__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 0px;
  margin-top: 52px;
}
.grid-item img {
  max-width: 100%;
}
.hot-news {
  max-width: 1168px;
  margin: 0 auto;
}
.hot-news__grid-1 {
  /* margin-left: 370px; */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 856px 277px;
  grid-template-areas: "item1 item2";
  grid-column-gap: 35px;
  margin-bottom: 44px;
}
.hot-news__grid-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 554px 554px;
  grid-column-gap: 60px;
  grid-row-gap: 43px;
  grid-template-areas:
    "item3 item4"
    "item5 item6";
  margin-bottom: 44px;
}
.hot-news__grid-3 {
  display: grid;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 277px 856px;
  grid-template-areas: "item7 item8";
  grid-column-gap: 35px;
}
/* .hot-news__grid .item2,
.hot-news__grid .item8 {
  justify-items: end;
} */
.hot-news__item {
  background-color: #f9f7f7;
}
.hot-news__content {
  margin: 14px 14px 0px 14px;
}
.first-type {
  display: flex;
  width: 856px;
  height: 259px;
}
.second-type {
  width: 554px;
  height: 418px;
}
.item-1__content {
  text-align: end;
  width: 350px;
}
.third-type {
  height: 258px;
}
.hot-news__heading {
  font-family: Open Sans;
  text-align: end;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-top: 14px;
}
.hot-news__text {
  font-family: Open Sans;
  text-align: end;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  color: #5b6469;
}
.type1 {
  margin-top: 41px;
  margin-bottom: 14px;
}
.nebula {
  text-align: center;
}
.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.item8 {
  grid-area: item8;
}
.footer {
  margin-top: 77px;
  background-color: #000000;
  height: 80px;
}
.footer__grid {
  max-width: 1176px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 512px 102px;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}
.item-2 {
  display: flex;
}
.footer__image-2 {
  width: 64px;
  height: 16px;
}
.footer__image-1 {
  width: 38px;
  height: 24px;
}
