@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0 auto;
  background-image: url(../image/background\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 1028px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 17px;
  height: 61px;
}
.header__logo a {
  display: flex;
  height: 47px;
  text-decoration: none;
}
.header__logo img {
  margin-bottom: 3px;
  margin-right: 8px;
}
.header__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__heading span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.header__info {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.header__info a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}
.header__info a:first-child {
  margin-bottom: 19px;
}
.tours__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 61px;
  grid-row-gap: 37px;
}
.tours__item a {
  text-decoration: none;
}
.tours__heading {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.tours__image {
  height: 220px;
}
.item2 {
  height: 222px;
  width: 304px;
}
footer {
  margin-top: 35px;
}
.footer {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}
#link:hover {
  color: #F26522;
}
.preview__content {
  display: flex;
  justify-content: space-between;
  height: 14px;
}
.price {
  margin-right: 128px;
}
.tours__preview .h3,
.tours__preview > div {
  margin-left: 16px;
}
.tours__preview .h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.details {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
  color: #FFFFFF;
}
.details .icon {
  width: 5px;
  height: 10px;
  margin-left: 16px;
}
.preview-test {
  display: none;
  width: 305px;
  height: 220px;
  align-items: flex-end;
  box-sizing: border-box;
}
.preview-test__content {
  width: 305px;
  height: 55px;
  background-color: #F26522;
}
.preview-test__content h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top: 7px;
  line-height: 10px;
  color: #FFFFFF;
}
.preview-test__content h3,
.preview-test__content p {
  margin-left: 16px;
}
.tours__item:hover .preview-test {
  display: inline;
}