.container{ 
    max-width: 1200px;
    margin: 0 auto;
    background: url(../../assets/ecooboi-graffiti-yarkie-bukvy-1555651987.jpg);
    background-size: cover;
    text-align: center;
    p{
        color: #fff;
        padding: 20px;
    }
}