@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.container {
  max-width: 1280px;
  margin: 0px auto;
}
.ramda {
  font-family: Roboto;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  width: 334px;
  height: 79px;
  text-decoration: none;
  color: black;
  margin-bottom: 38px;
}
.mda-js {
  color: aqua;
}
.top-menu {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  background-color: #35444F;
}
.top-menu-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  list-style: none;
  text-align: center;
  padding: 26px 33px;
  border: none;
  border-left: 1px solid white;
  border-radius: 0;
}
.top-menu-text a {
  color: white;
  text-decoration: none;
}
.img-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  background-color: transparent;
  border: 1px solid black;
}
.img {
  width: 320px;
  height: 381px;
}
.text {
  margin-top: 37px;
  width: 885px;
}
.lorem {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}
.list-container {
  margin-top: 50px;
  display: flex;
  width: 344px;
  height: 399px;
  background-color: transparent;
  border: 1px solid black;
}
.side-list-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  padding: 20px;
  list-style: none;
}
.side-list-text a {
  text-decoration: none;
  color: #495863;
}
.right-side,
.left-side {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 600px;
}
.right-side {
  float: right;
}
.left-side {
  float: left;
}
.bottom-menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 54px;
  width: 1280px;
  background: #A9B4BB 48%;
}
.bottom-menu-text {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  list-style: none;
  text-align: center;
  padding: 20px 10px;
  border: none;
  border-radius: 0;
}
.bottom-menu-text a {
  color: black;
  text-decoration: none;
}
.bottom-menu-text:last-child {
  margin-left: 82px;
}