#price-box {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .price-block {
    border-radius: 4px;
    text-align: center;
    padding: 5px 7px;
    border: 1px solid black;
  }
  
  .price-block:not(:first-child) {
    margin-left: 10px;
  }
  
  #close {
    cursor:pointer;
    margin-left: 5px;
  }
