@mixin headerFont {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
  }
  @mixin mainFont {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
  }
  @mixin postFont {
      
font-family: Roboto;
font-style: normal;
  }