.header{
    padding: 20px;
      margin-bottom:10px;
      background-color: #000000;
      display: flex;
      justify-content: space-between
    }
    .logo img{
    width: 43px;
    height: 43px
    }
    .nav-list ul{
      display: flex;
    list-style: none;
    }
    .nav-list ul li{
      margin-left: 40px;
    }
    .nav-list ul li a{
    color: white;
    text-decoration: none;
    }