@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-image: url(../image/background.jpg);
    background-size: cover;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
header{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
}
.header__main{
    align-items: center;
    display: flex;
    padding-top: 18px;
margin-left: 79px;
margin-right: 79px;
justify-content: space-between;
}
.header__content{
    display: flex;
    align-items: center;
}
.header__content svg, .header__content .vl{
margin-right: 25px;
}
.header__main h3{
    font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 22px;
color: #fff;
}
.vl{
    background-color:  rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    border: 1px solid transparent;
    height: 19px;
}
.header__content p, .header__content p a{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #fff;
text-decoration: none;
}
.header__content p a:hover{
    color: #01813F;
}
.header__main h3:hover{
    color: #01813F;
}
.header__content svg:hover{
    fill: #01813F;
}
main{
    width: 1280px;
    margin-top: 54px;
}
.form{
    width: 444px;
    margin: auto;
}
form{
    display: block;
    background: #FFFFFF;
    width: 444px;
}
.form__header{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
}
.square{
    display: none;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin-right: 43px;
}
.form__header h3{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #434343;
}
.form__header h4 a{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #3CB878;
text-decoration: none;
}
.form__header h4 a:hover{
    color: #01813F;
    text-decoration: underline;
}
.form__main{
    padding: 31px 60px 38px 60px;
    /* margin: 31px 60px 38px 60px; */
}
.form__socials{
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.form__socials a{
text-decoration: none;
}
.form__socials a .facebook:hover{
    background: #022263;
}
.form__socials a .google:hover{
    background: #AB1F09;
}
.facebook{
display: flex;
align-items: center ;
width: 160px;
height: 48px;
background: #305DB8;
border-radius: 3px;
}
.social__line{
    height: 28px;
    width: 1px;
    background: #0A162F;
    opacity: 0.1;
}
.facebook i{
    margin-left: 17px;
    font-size: 24px;
    color: #FFFFFF;
}
.facebook h3{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
margin-right: 22px;
color: #FFFFFF; 
}
.facebook i, .facebook div{
    margin-right: 18px;
}
.google{
    display: flex;
align-items: center ;
width: 160px;
height: 48px;
background: #DF4A32;
border-radius: 3px;
}
.google i{
margin-left: 12px;
margin-right: 7px;
font-size: 24px;
color: #FFFFFF;
}
.google h3{
    margin-left: 30px;
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
}
.form__or{
    display: flex;
    align-items: center;
}
.form__line{
    width: 152px;
height: 1px;
background: #F2F2F2;
}
.form__or p{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #848484;
margin-left: 2px;
margin-right: 2px;
}
.form__registration{
    margin-top: 11px;
    margin-bottom: 12px;
}
.form__registration input{
    width: 300px;
height: 46px;
border: 1px solid #F2F2F2;
border-radius: 4px;
padding-left: 20px;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.form__registration input:not(:last-child){
    margin-bottom: 15px;
}
.form__registration input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form__agree{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.form__agree label{
    font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
}
.form__agree label a{
    text-decoration: none;
    color: #3CB878;
}
.form__agree label a:hover{
    color: #01813F;
    text-decoration: underline;
}
.form__submit input{
    padding: 16px 99px;
    width: 324px;
height: 46px;
border-radius: 4px;
border: 1px solid transparent;
background: rgba(60, 184, 120, 0.8);
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #fff;
}
.form__submit input:hover{
    background: #01813F;
}
.form__registration input:active{
    border: 1px solid transparent;
    box-shadow: 2px ;
}