.header{ 
    padding: 20px 20px 20px 20px;
    margin: 0px auto;
    display: flex; 
justify-content: space-between;
max-width: 1200px;
align-items: center;
background-image: url(../../assets/1631994452_19-papik-pro-p-risunok-krutie-slova-20.jpg);
background-size: 50%;
background-position: center;
background-repeat: no-repeat;
font-size:24px;
    nav ul{
margin-right: 40px;
    display: inline;
    
  
    a{
        color:#000;
        text-decoration: none;
        margin-left: 20px;
    }
    }
}