.form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  .input {
    margin: 20px;
  }
  .error {
    color: red;
  }
  .inputCont{
    display: flex;
    flex-direction: column;
  }