<footer>
    <div class="container">
        <div class="footer_container">
        <h1>- get in touch with us -</h1>
        <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <div class="icons">
            <a href=""><i class="fas fa-rss"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-dribbble"></i></a>
            <a href=""><i class="fab fa-pinterest-p"></i></a>
        </div>
        <p> Moonshine St. 14-05 Light City   /   T. +00 (123) 456 78 90   /   first.last@email.com</p>
    </div>
    </div>
</footer>