body, html
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: rgb(179, 179, 40);
    background-color: #000;
    overflow: hidden;
}
#star-wars
{
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(11deg);
}
#star-wars:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
#star-wars__content
{
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 4s infinite;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: -100%; }
}
h3{
    text-align: center;
}